.navbar {
    width: 100%;
    height: calc(100vh - 17rem);
    background: transparent;
    margin-top: 11rem;
    margin-bottom: 3rem;

    &-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &__items {
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            padding: 1rem 2rem;
            list-style: none;

            &-container {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        &__item {
            margin-right: 1rem;
            display: flex;
            align-items: center;

            & a {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.4rem;
                color: #fff;
                text-transform: capitalize;

                @media(max-width: 1350px) {
                    font-size: 1.3rem;
                }
                
            }

            &-id {
                width: 80px;
                height: 80px;
                background: #f11869;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 24px;
                margin-left: 100px;

                & > span { 
                    font-size: 2rem;

                    @media(max-width: 1350px) {
                        font-size: 1.7rem;
                    }
                }
            }

            &-title {
                width: 78px;
            }
        }
    }
}

