.top-navbar {
    position: absolute;
    top: 58px;
    width: 100%;
    background: linear-gradient(106.65deg, rgba(255, 255, 255, 0.4) -2.73%, rgba(255, 255, 255, 0) 65.25%);
    
    filter: drop-shadow(0px 4px 32px rgba(34, 34, 34, 0.24));
    backdrop-filter: blur(12px);
    height: 94px;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-items {
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: flex-end;
            padding: 1rem 2rem;
            list-style: none;
        }

        &-item {
            margin-right: 1rem;
            display: flex;
            align-items: center;

            & a {
                text-decoration: none;
                text-transform: capitalize;
                font-size: 1.5rem;
                color: #fff;
            }
        }
    }
}



